@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

/* globals.css */
@media (max-width: 1023px) {

    html,
    body {
        overflow-x: hidden;
    }
}

.custom-flag-dropdown {
    position: relative;
    left: 0px;
    height: 48px !important;
    background-color: transparent !important;
    border-bottom-left-radius: 88px !important;
    border-top-left-radius: 88px !important;
    border: 1px solid #D1D1D1 !important;
    border-right: 0px !important;
}

.selected-flag {
    background-color: transparent !important;
}

.selected-flag:hover {
    background-color: transparent !important;
}

.react-tel-input .country-list {
    text-shadow: white !important;
    filter: blur(0px);
}


@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8888885f transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
}