@import "tailwindcss";

/* Theme extensions */
@theme {
    /* ✅ Fonts */
    --font-poppins: "Poppins", sans-serif;
    --font-mulish: "Mulish", sans-serif;

    /* ✅ Colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-green-custom: #25b021;
    --color-yellow-custom: #fff876;

    /* ✅ Font sizes */
    --text-xxl: 82px;
    --text-xl: 72px;
    --text-lg: 62px;
    --text-lg-md: 52px;
    --text-md: 48px;
    --text-lg-sm: 40px;
    --text-sm-lg: 36px;
    --text-sm-md: 34px;
    --text-sm: 30px;
    --text-base-lg: 24px;
    --text-base-md: 28px;
    --text-base: 20px;
    --text-sm-xs: 18px;
    --text-xs: 16px;

    /* ✅ Width */
    --size-xs: 108px;
    --size-sm: 165.95px;
    --size-sm-md: 277px;
    --size-sm-lg: 554px;
    --size-lg: 850px;
    --size-xlg: 1148px;

    /* ✅ Height */
    --size-s-sm: 27px;
    --size-xsm: 67.57px;
    --size-xsm-sm: 277px;
    --size-xsm-lg: 398px;
    --size-sm: 412px;
    --size-sm-lg: 148px;
    --size-lg-sm: 864px;
    --size-lg: 969px;

    /* ✅ Padding */
    --spacing-sm: 34px;
    --spacing-lg: 129px;

    /* ✅ Backgrounds */
    --background-custom-gradient: linear-gradient(90deg, #959595 0%, #202020 100%);
}

/* ✅ Animations */
@keyframes scroll {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes topScroll {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100%)
    }
}